.pc-header{
  color: #444444;
  font-size: 18px;
  font-weight: normal;
  display: inline-block; 
  padding: 10px; 
  top: 0px; 
  width: calc(100% - 150px);
  position: relative ;
}


.pc-bet{
  color: #444444;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px; 
  position: relative ;
}

.pc-game{
  color: #444444;
  font-size: 18px;
  font-style: italic;
  padding-top: 5px; 
  position: relative ;
}

.pc-betBody{
  color: #444444;
  font-size: 18px;
  padding-top: 10px; 
  position: relative ;
}

.pc-buttons{
  font-size: 18px;
  padding-top: 30px; 
  position: relative ;
}


.pc-img {

  display: inline-block; 
  padding: 10px 10px;
  position: relative;
  border-radius: 50%;
  width: 120px;
  text-align: center;
  top: -75px;
  height: 100%;
}



