.win{
  height: 50px !important;
  width: 50px !important;
  margin: auto;
  border-radius: 5px;
  background-color: #4BB543;
  color: white !important;
  text-align: auto;
}

.push{
  background-color: #ffae42;
  height: 50px !important;
  width: 50px !important;
  margin: auto;
  border-radius: 5px;
  color: white !important;
  text-align: auto;
}

.loss{
  height: 50px !important;
  width: 50px !important;
  margin: auto;
  border-radius: 5px;
  background-color: #ff3d3d;
  color: white !important;
  text-align: center;
}
