.rc-header{
  color: #444444;
  font-size: 18px;
  font-weight: normal;
  display: inline-block; 
  padding: 10px; 
  top: 0px; 
  width: 100%;
  position: relative ;
}


.rc-bet{
  color: #444444;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px; 
  position: relative ;
}

.rc-game{
  color: #444444;
  font-size: 18px;
  font-style: italic;
  padding-top: 5px; 
  position: relative ;
}

.rc-betBody{
  color: #444444;
  font-size: 18px;
  padding-top: 10px; 
  position: relative ;
}

.rc-reactionScore{
  color: #969696;
  font-size: 12px;
  padding-top: 4px; 
  position: relative ;
}

.rc-buttons{
  font-size: 18px;
  padding-top: 30px; 
  position: relative ;
}


.rc-img {
  display: inline-block; 
  padding: 10px 10px;
  position: relative;
  border-radius: 50%;
  width: 120px;
  text-align: center;
  top: -75px;
  height: 100%;
  background-size: cover; 
  background-position: 50%
}

.win{
  display: inline-block;
  color: #4BB543 !important
}

.push{
  display: inline-block;
  color: #ffae42 !important
}

.loss{
  display: inline-block;
  color: #ff3d3d !important
}



