.activity-center-wrapper {
  position: relative;
  display: flex;
  border: 2px black;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease,transform .1s ease;
}
