.header-wrapper {
  height: 30vw;
  padding-top: 10px;
  border-top: 2px solid #8c8c8c;
  margin-bottom: 50px;
}

.header-wrapper-mobile {
  height: 30vw;
  margin-top: 10px;
  border-top: 2px solid #8c8c8c;
  margin-bottom: 50px;
}

.header-content-left {
  float: left;
  border-bottom-left-radius: 10px;
  display: inline-flex;
  height: 100%;
  width: 50%;
}

.header-content-right {
  float: right;
  border-bottom-right-radius: 10px;
  display: inline-flex;
  height: 100%;
  width: 50%;
}

.header-main-content-grid {
  height: 65%;
}

.score-text {
  font-size: 6vw;
  font-weight: 650;
  line-height: 1;
  text-align: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.header-logo {
  width: 16vw;
  height: auto;
}

.team-name {
  font-size: 2vw;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.team-record {
  margin-top: 10px;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1;
  text-align: inherit;
  width: 100%;
}

.heading-betting-odds-grid {
  height: 15%;
}

.ml-text {
  font-size: 2vw;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  width: 100%;
}

.ou-text {
  font-size: 2vw;
  font-weight: 600;
  line-height: 1;
  width: 100%;
}

.ou-value {
  font-size: 2vw;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  padding-left: 10px;
}
